.fooldal {
    .welcome {
        background-image: url("assets/kepek/rendelo39.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            text-align: center;
            width: 100%;
            height: 80vh;
            background-size: cover;
            margin-bottom: 30px;
        h1 {
            position: relative;
            top: 30%;
            font-size: 500%;
            color: #fff;
            text-shadow: 4px 4px 10px #000;
        }
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 400%;
            }
        }
        @media only screen and (max-width: 400px) {
            h1 {
                font-size: 300%;
            }
        }
        @media only screen and (max-width: 320px) {
            h1 {
                font-size: 200%;
            }
        }
    }

    .post-preview {
        height: 40vh;
        a {
            color: #fff;
        }
        img {
            width: 100%;
            object-fit: cover;
            height: 65%;
        }
        @media only screen and (max-width: 320px) {
            h2 {
                font-size: 150%;
            }
        }
        @media only screen and (max-width: 224px) {
            h2 {
                font-size: 100%;
            }
        }
        @media only screen and (max-width: 254px) {
            
                margin-bottom: 30px;
            
        }
    }

    .sidebar {
        border: 1px solid #000;
        box-shadow: 0 0 15px;
        img {
            width: 100%;
            height: 20vh;
            object-fit: cover;
        }
    }
}
    